.places h1 {
	text-align: left;
	font-size: 30px;
}

article h2 {
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}

.square1 {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	display: flex;
    align-items: center;
	justify-content: center;
}

.square2 {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	display: flex;
    align-items: center;
	justify-content: center;
}

.square3 {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	display: flex;
    align-items: center;
	justify-content: center;
}
